@font-face {
    font-family: 'Brachetto';
    src: url('/type/Brachetto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eulyoo1945';
    src: url('/type/Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945';
    src: url('/type/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
p,h1,h2,h3,h4,h5,h6 { margin: 0; }
body {
    font-family: 'Eulyoo1945', sans-serif;
    font-weight: 400;
    padding: 32px 0;
    margin: 0;
    text-align: center;
    word-break: keep-all;
}
/* 컬러 */
.color-title { color: #333; }
.color-subtitle { color: #666; }
.color-placeholder { color: #999; }
.color-point { color: #bf0009; }

.dis-none { display: none; }
.dis-block { display: block; }
.dis-inline-block { display: inline-block; }
.half { width: 50%; }
.flu { width: 100%; }

.pd-0 { padding: 0 !important; }
.pd-t0 { padding-top: 0 !important; }
.pd-t05 { padding-top: 4px !important; }
.pd-t1 { padding-top: 8px !important; }
.pd-t015 { padding-top: 12px !important; }
.pd-t2 { padding-top: 16px !important; }
.pd-t025 { padding-top: 20px !important; }
.pd-t3 { padding-top: 24px !important; }
.pd-t4 { padding-top: 32px !important; }
.pd-t5 { padding-top: 40px !important; }
.pd-t6 { padding-top: 48px !important; }
.pd-t7 { padding-top: 56px !important; }
.pd-t8 { padding-top: 64px !important; }
.pd-t9 { padding-top: 72px !important; }
.pd-t10 { padding-top: 80px !important; }

.pd-b0 { padding-bottom: 0 !important; }
.pd-b05 { padding-bottom: 4px !important; }
.pd-b1 { padding-bottom: 8px !important; }
.pd-b015 { padding-bottom: 12px !important; }
.pd-b2 { padding-bottom: 16px !important; }
.pd-b025 { padding-bottom: 20px !important; }
.pd-b3 { padding-bottom: 24px !important; }
.pd-b4 { padding-bottom: 32px !important; }
.pd-b5 { padding-bottom: 40px !important; }
.pd-b6 { padding-bottom: 48px !important; }
.pd-b7 { padding-bottom: 56px !important; }
.pd-b8 { padding-bottom: 64px !important; }
.pd-b9 { padding-bottom: 72px !important; }
.pd-b10 { padding-bottom: 80px !important; }

.pd-l0 { padding-left: 0 !important; }
.pd-l05 { padding-left: 4px !important; }
.pd-l1 { padding-left: 8px !important; }
.pd-l015 { padding-left: 12px !important; }
.pd-l2 { padding-left: 16px !important; }
.pd-l025 { padding-left: 20px !important; }
.pd-l3 { padding-left: 24px !important; }
.pd-l4 { padding-left: 32px !important; }
.pd-l5 { padding-left: 40px !important; }
.pd-l6 { padding-left: 48px !important; }
.pd-l7 { padding-left: 56px !important; }
.pd-l8 { padding-left: 64px !important; }
.pd-l9 { padding-left: 72px !important; }
.pd-l10 { padding-left: 80px !important; }

.pd-r0 { padding-right: 0 !important; }
.pd-r05 { padding-right: 4px !important; }
.pd-r1 { padding-right: 8px !important; }
.pd-r015 { padding-right: 12px !important; }
.pd-r2 { padding-right: 16px !important; }
.pd-r025 { padding-right: 20px !important; }
.pd-r3 { padding-right: 24px !important; }
.pd-r4 { padding-right: 32px !important; }
.pd-r5 { padding-right: 40px !important; }
.pd-r6 { padding-right: 48px !important; }
.pd-r7 { padding-right: 56px !important; }
.pd-r8 { padding-right: 64px !important; }
.pd-r9 { padding-right: 72px !important; }
.pd-r10 { padding-right: 80px !important; }

.mr-0 { margin: 0 !important; }
.mr-t0 { margin-top: 0 !important; }
.mr-t05 { margin-top: 4px !important; }
.mr-t1 { margin-top: 8px !important; }
.mr-t015 { margin-top: 12px !important; }
.mr-t2 { margin-top: 16px !important; }
.mr-t025 { margin-top: 20px !important; }
.mr-t3 { margin-top: 24px !important; }
.mr-t4 { margin-top: 32px !important; }
.mr-t5 { margin-top: 40px !important; }
.mr-t6 { margin-top: 48px !important; }
.mr-t7 { margin-top: 56px !important; }
.mr-t8 { margin-top: 64px !important; }
.mr-t9 { margin-top: 72px !important; }
.mr-t10 { margin-top: 80px !important; }

.mr-b1 { margin-bottom: 8px !important; }
.mr-b2 { margin-bottom: 16px !important; }
.mr-b3 { margin-bottom: 24px !important; }
.mr-b4 { margin-bottom: 32px !important; }
.mr-b5 { margin-bottom: 40px !important; }
.mr-b6 { margin-bottom: 48px !important; }
.mr-b7 { margin-bottom: 56px !important; }
.mr-b8 { margin-bottom: 64px !important; }
.mr-b9 { margin-bottom: 72px !important; }
.mr-b10 { margin-bottom: 80px !important; }

.mr-t-05 { margin-top: -4px !important; }
.mr-t-1 { margin-top: -8px !important; }
.mr-t-015 { margin-top: -12px !important; }
.mr-t-2 { margin-top: -16px !important; }
.mr-t-025 { margin-top: -20px !important; }
.mr-t-3 { margin-top: -24px !important; }
.mr-t-4 { margin-top: -32px !important; }
.mr-t-5 { margin-top: -40px !important; }
.mr-t-6 { margin-top: -48px !important; }
.mr-t-7 { margin-top: -56px !important; }
.mr-t-8 { margin-top: -64px !important; }
.mr-t-9 { margin-top: -72px !important; }
.mr-t-10 { margin-top: -80px !important; }

.mr-b-1 { margin-bottom: -8px !important; }
.mr-b-2 { margin-bottom: -16px !important; }
.mr-b-3 { margin-bottom: -24px !important; }
.mr-b-4 { margin-bottom: -32px !important; }
.mr-b-5 { margin-bottom: -40px !important; }
.mr-b-6 { margin-bottom: -48px !important; }
.mr-b-7 { margin-bottom: -56px !important; }
.mr-b-8 { margin-bottom: -64px !important; }
.mr-b-9 { margin-bottom: -72px !important; }
.mr-b-10 { margin-bottom: -80px !important; }

.ver-t { vertical-align: top; }
.ver-b { vertical-align: bottom; }
.ver-m { vertical-align: middle; }

.title-en {
    font-family: 'Brachetto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: 16px 0 20px;
    word-spacing: -6px;
}

.deco-line {
    font-family: 'Brachetto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: 16px -140px 20px 0;
    font-feature-settings: 'salt' 1;
}

.body-kr {     font-family: 'Eulyoo1945', sans-serif;
    font-size: 16px; line-height: 28px; letter-spacing: -.3px; word-spacing: -.8px; }
.body2-kr {     font-family: 'Eulyoo1945', sans-serif;
    font-size: 14px; line-height: 22px; letter-spacing: -.3px; word-spacing: -.8px; }
.font-0 { font-size: 0; line-height: 0; letter-spacing: 0; word-spacing: 0; }

.text-deco--line {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 0.35em;
    text-decoration-thickness: 0.07em;
    text-decoration-color: #e12b70;
}

.content {
    width: calc(100% - 24px);
    max-width: 480px;
    padding: 32px 24px;
    margin: 0 auto 32px;
    overflow: hidden;
    background: rgba(251,251,251,.6);
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    border-radius: 12px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 16px rgba(0,0,0,0.05);
}
@media screen and (max-width: 767px) {
    .content { padding: 24px 20px 16px; }
}

.inv-button {
    font-family: 'Eulyoo1945', sans-serif;
    border: none;
    padding: 13px 16px;
    margin: 0 0 11px;
    background: #434742;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .inv-button:hover,
    .inv-button:focus { opacity: .8; }
}
.inv-button:active { opacity: .8; }