@font-face {
    font-family: 'Brachetto';
    src: url('/type/Brachetto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Eulyoo1945';
    src: url('/type/Eulyoo1945-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Eulyoo1945';
    src: url('/type/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
p,h1,h2,h3,h4,h5,h6 { margin: 0; }
button, .swiper-prev, .swiper-next { -webkit-tap-highlight-color: transparent; }
button:focus, .swiper-prev:focus, .swiper-next:focus { outline: none; }
input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
}
body {
    font-family: 'Eulyoo1945', sans-serif;
    font-weight: 400;
    padding: 32px 0 120px;
    margin: 0;
    text-align: center;
    word-break: keep-all;
}
main { overflow: hidden; }
/* 컬러 */
.color-title { color: #333; }
.color-subtitle { color: #666; }
.color-placeholder { color: #999; }
.color-point { color: #bf0009; }

.dis-none { display: none; }
.dis-block { display: block; }
.dis-inline-block { display: inline-block; }
.half { width: 50%; }
.flu { width: 100%; }

.pd-0 { padding: 0 !important; }
.pd-t0 { padding-top: 0 !important; }
.pd-t05 { padding-top: 4px !important; }
.pd-t1 { padding-top: 8px !important; }
.pd-t015 { padding-top: 12px !important; }
.pd-t2 { padding-top: 16px !important; }
.pd-t025 { padding-top: 20px !important; }
.pd-t3 { padding-top: 24px !important; }
.pd-t4 { padding-top: 32px !important; }
.pd-t5 { padding-top: 40px !important; }
.pd-t6 { padding-top: 48px !important; }
.pd-t7 { padding-top: 56px !important; }
.pd-t8 { padding-top: 64px !important; }
.pd-t9 { padding-top: 72px !important; }
.pd-t10 { padding-top: 80px !important; }

.pd-b0 { padding-bottom: 0 !important; }
.pd-b05 { padding-bottom: 4px !important; }
.pd-b1 { padding-bottom: 8px !important; }
.pd-b015 { padding-bottom: 12px !important; }
.pd-b2 { padding-bottom: 16px !important; }
.pd-b025 { padding-bottom: 20px !important; }
.pd-b3 { padding-bottom: 24px !important; }
.pd-b4 { padding-bottom: 32px !important; }
.pd-b5 { padding-bottom: 40px !important; }
.pd-b6 { padding-bottom: 48px !important; }
.pd-b7 { padding-bottom: 56px !important; }
.pd-b8 { padding-bottom: 64px !important; }
.pd-b9 { padding-bottom: 72px !important; }
.pd-b10 { padding-bottom: 80px !important; }

.pd-l0 { padding-left: 0 !important; }
.pd-l05 { padding-left: 4px !important; }
.pd-l1 { padding-left: 8px !important; }
.pd-l015 { padding-left: 12px !important; }
.pd-l2 { padding-left: 16px !important; }
.pd-l025 { padding-left: 20px !important; }
.pd-l3 { padding-left: 24px !important; }
.pd-l4 { padding-left: 32px !important; }
.pd-l5 { padding-left: 40px !important; }
.pd-l6 { padding-left: 48px !important; }
.pd-l7 { padding-left: 56px !important; }
.pd-l8 { padding-left: 64px !important; }
.pd-l9 { padding-left: 72px !important; }
.pd-l10 { padding-left: 80px !important; }

.pd-r0 { padding-right: 0 !important; }
.pd-r05 { padding-right: 4px !important; }
.pd-r1 { padding-right: 8px !important; }
.pd-r015 { padding-right: 12px !important; }
.pd-r2 { padding-right: 16px !important; }
.pd-r025 { padding-right: 20px !important; }
.pd-r3 { padding-right: 24px !important; }
.pd-r4 { padding-right: 32px !important; }
.pd-r5 { padding-right: 40px !important; }
.pd-r6 { padding-right: 48px !important; }
.pd-r7 { padding-right: 56px !important; }
.pd-r8 { padding-right: 64px !important; }
.pd-r9 { padding-right: 72px !important; }
.pd-r10 { padding-right: 80px !important; }

.mr-0 { margin: 0 !important; }
.mr-t0 { margin-top: 0 !important; }
.mr-t05 { margin-top: 4px !important; }
.mr-t1 { margin-top: 8px !important; }
.mr-t015 { margin-top: 12px !important; }
.mr-t2 { margin-top: 16px !important; }
.mr-t025 { margin-top: 20px !important; }
.mr-t3 { margin-top: 24px !important; }
.mr-t4 { margin-top: 32px !important; }
.mr-t5 { margin-top: 40px !important; }
.mr-t6 { margin-top: 48px !important; }
.mr-t7 { margin-top: 56px !important; }
.mr-t8 { margin-top: 64px !important; }
.mr-t9 { margin-top: 72px !important; }
.mr-t10 { margin-top: 80px !important; }
.mr-b0 { margin-bottom: 0 !important; }
.mr-b1 { margin-bottom: 8px !important; }
.mr-b2 { margin-bottom: 16px !important; }
.mr-b3 { margin-bottom: 24px !important; }
.mr-b4 { margin-bottom: 32px !important; }
.mr-b5 { margin-bottom: 40px !important; }
.mr-b6 { margin-bottom: 48px !important; }
.mr-b7 { margin-bottom: 56px !important; }
.mr-b8 { margin-bottom: 64px !important; }
.mr-b9 { margin-bottom: 72px !important; }
.mr-b10 { margin-bottom: 80px !important; }
.mr-r0 { margin-right: 0 !important; }
.mr-r1 { margin-right: 8px !important; }
.mr-r2 { margin-right: 16px !important; }
.mr-r3 { margin-right: 24px !important; }
.mr-r4 { margin-right: 32px !important; }
.mr-r5 { margin-right: 40px !important; }
.mr-r6 { margin-right: 48px !important; }
.mr-r7 { margin-right: 56px !important; }
.mr-r8 { margin-right: 64px !important; }
.mr-r9 { margin-right: 72px !important; }
.mr-r10 { margin-right: 80px !important; }
.mr-l0 { margin-left: 0 !important; }
.mr-l1 { margin-left: 8px !important; }
.mr-l2 { margin-left: 16px !important; }
.mr-l3 { margin-left: 24px !important; }
.mr-l4 { margin-left: 32px !important; }
.mr-l5 { margin-left: 40px !important; }
.mr-l6 { margin-left: 48px !important; }
.mr-l7 { margin-left: 56px !important; }
.mr-l8 { margin-left: 64px !important; }
.mr-l9 { margin-left: 72px !important; }
.mr-l10 { margin-left: 80px !important; }

.mr-t-05 { margin-top: -4px !important; }
.mr-t-1 { margin-top: -8px !important; }
.mr-t-015 { margin-top: -12px !important; }
.mr-t-2 { margin-top: -16px !important; }
.mr-t-025 { margin-top: -20px !important; }
.mr-t-3 { margin-top: -24px !important; }
.mr-t-4 { margin-top: -32px !important; }
.mr-t-5 { margin-top: -40px !important; }
.mr-t-6 { margin-top: -48px !important; }
.mr-t-7 { margin-top: -56px !important; }
.mr-t-8 { margin-top: -64px !important; }
.mr-t-9 { margin-top: -72px !important; }
.mr-t-10 { margin-top: -80px !important; }

.mr-b-1 { margin-bottom: -8px !important; }
.mr-b-2 { margin-bottom: -16px !important; }
.mr-b-3 { margin-bottom: -24px !important; }
.mr-b-4 { margin-bottom: -32px !important; }
.mr-b-5 { margin-bottom: -40px !important; }
.mr-b-6 { margin-bottom: -48px !important; }
.mr-b-7 { margin-bottom: -56px !important; }
.mr-b-8 { margin-bottom: -64px !important; }
.mr-b-9 { margin-bottom: -72px !important; }
.mr-b-10 { margin-bottom: -80px !important; }


.mr-r-1 { margin-right: -8px !important; }
.mr-r-2 { margin-right: -16px !important; }
.mr-r-3 { margin-right: -24px !important; }
.mr-r-4 { margin-right: -32px !important; }
.mr-r-5 { margin-right: -40px !important; }
.mr-r-6 { margin-right: -48px !important; }
.mr-r-7 { margin-right: -56px !important; }
.mr-r-8 { margin-right: -64px !important; }
.mr-r-9 { margin-right: -72px !important; }
.mr-r-10 { margin-right: -80px !important; }
.mr-l-1 { margin-left: -8px !important; }
.mr-l-2 { margin-left: -16px !important; }
.mr-l-3 { margin-left: -24px !important; }
.mr-l-4 { margin-left: -32px !important; }
.mr-l-5 { margin-left: -40px !important; }
.mr-l-6 { margin-left: -48px !important; }
.mr-l-7 { margin-left: -56px !important; }
.mr-l-8 { margin-left: -64px !important; }
.mr-l-9 { margin-left: -72px !important; }
.mr-l-10 { margin-left: -80px !important; }


.ver-t { vertical-align: top; }
.ver-b { vertical-align: bottom; }
.ver-m { vertical-align: middle; }

.title-en {
    font-family: 'Brachetto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    margin: 16px 0 20px;
    word-spacing: -6px;
}


.body-kr {     font-family: 'Eulyoo1945', sans-serif;
    font-size: 16px; line-height: 28px; letter-spacing: -.3px; word-spacing: -.8px; }
.body2-kr {     font-family: 'Eulyoo1945', sans-serif;
    font-size: 14px; line-height: 22px; letter-spacing: -.3px; word-spacing: -.8px; }
.font-0 { font-size: 0; line-height: 0; letter-spacing: 0; word-spacing: 0; }

.text-deco--line {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 0.35em;
    text-decoration-thickness: 0.07em;
    text-decoration-color: #333;
}


.inv-section {

}
.inv-section.on {

}

.content {
    /*width: calc(100% - 32px);*/
    width: calc(100% - 56px);
    max-width: 480px;
    padding: 56px 24px 32px;
    margin: 0 auto 64px;
    overflow: hidden;
    background: rgba(255,255,255,.8);
    box-sizing: border-box;
    /*border: 1px solid #f1f1f1;*/
    border-radius: 12px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    /*box-shadow: 0 0 16px rgba(0,0,0,0.05);*/

    border: 1px solid #e6e7e9;
    /*box-shadow: none;*/
    box-shadow: 0 0 0 8px #fff;
    background: #fff;


}

.inv-section .content {
    transition: all .3s ease-in-out;
    opacity: 0;
    /*-webkit-filter: blur(16px);*/
    /*filter: blur(16px);*/
    transform: rotate(-4deg) translateX(-40%) translateY(5%);
}
.inv-section .content.right {
    transform: rotate(4deg) translateX(40%) translateY(5%);
}
.inv-section.on .content,
.inv-section.on .content.right{
    transition: all .6s ease-in-out;
    opacity: 1;
    /*-webkit-filter: blur(0);*/
    /*filter: blur(0);*/
    transform: rotate(0deg) translateX(0) translateY(0);
}
@media screen and (max-width: 767px){
   .inv-section .content { transform: rotate(-2deg) translateX(-40%) translateY(5%); }
    .inv-section .content.right { transform: rotate(2deg) translateX(40%) translateY(5%); }
}

.deco-line {
    font-family: 'Brachetto', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 0;
    margin: 16px -140px 20px 0;
    padding: 24px 0 48px;
    font-feature-settings: 'salt' 1;
}
@media screen and (max-width: 767px) {
    /*.content { padding: 24px 16px 16px; }*/
    .content { padding: 24px 20px 16px; }
}

.inv-button {
    font-family: 'Eulyoo1945', sans-serif;
    /*border: none;*/
    padding: 10px 16px;
    min-width: 96px;
    margin: 0 0 11px;
    background: #434742;
    border-radius: 1000px;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 0 0 0 2px #434742;
    /*box-shadow: 0 4px 8px rgba(0,0,0,.15);*/
}
.kakao-pay-button {
    display: inline-block;
    min-width: 116px;
    min-height: 34px;
    background: #ffd000 url(../img/svg/ico_kakaopay.svg) center / 50% no-repeat;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 0 0 2px #ffd000;
    border: 1px solid #333;
}
@media screen and (min-width: 768px) {
    .kakao-pay-button:hover,
    .kakao-pay-button:focus,
    .inv-button:hover,
    .inv-button:focus { opacity: .8; }
}
.kakao-pay-button:active,
.inv-button:active { opacity: .8; }


.accordion-button {
    position: relative;
    width: calc(100% - 8px);
    padding: 10px;
    border: none;
    background: #434742; color: #fff;
    text-align: left;
    border-radius: 8px;
}
.accordion-button > .inv-ico {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 18px;
    height: 20px;
    background: url("../img/svg/ico_bracket--w.svg") center / contain no-repeat;
    transition: transform .3s;
    /*pointer-events: none;*/
}
.accordion-button.on { opacity: 0.8; }
.accordion-button.on > .inv-ico { transform: rotate(-180deg); }
.accordion-content { display: none; }


















