/* 1. 메인 타이틀 */
#introTitle {
    position: fixed; right: 0; left: 0; top: -3vh; bottom: 0; z-index: -1;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    color: #333;
    transition: filter .3s ease-in-out, opacity .3s ease-in-out;
    will-change: opacity, filter;
}
#introTitle.blur {
    -webkit-filter: blur(.6vw);
    filter: blur(.6vw);
    opacity: .5;
}
/* 메인 아티클 덩어리 */
#introTitle .left-top { margin-right: 3vw; }
#introTitle .right-top { margin-left: 3vw; }
#introTitle .top { margin-top: -5vw; }
#introTitle .bottom { margin-top: 4vw; }
/* 메인 텍스트 요소 */
#introTitle .intro-kr { margin-top: .65vw; }
#introTitle .left-top .intro-kr { margin-left: 4.5vw; }
#introTitle .right-top .intro-kr { margin-left: -4.5vw; }
/* 타이포그래피 */
.intro-en { font-family: 'Brachetto', sans-serif; font-size: 8vw; line-height: 8vw; font-weight: 400; }
.intro-kr { font-size: 2.65vw; line-height: 2.65vw; font-weight: 400;}
@media screen and (max-width: 767px) {
    #introTitle { transform: scale(1.15); }
    #introTitle .top { margin-top: -32px; }
    #introTitle .left-top .intro-kr { margin-left: 12px; }
    #introTitle .right-top .intro-kr { margin-left: -12px; }
    .intro-kr { font-size: 14px; line-height: 14px; font-weight: 400;}
}

/* 2. 텍스트 타이틀 */
#introContent {
    /*margin-top: 100vh;*/
}
#introContent .content .content-title .title-en { white-space: nowrap; }
#introContent .content .content-title .body-kr {
    text-align: justify;
    letter-spacing: -0.6px;
    word-spacing: -1.8px;
    text-align-last: center;
}
#introContent .content .content-title .body-kr span { font-size: 12px; position: relative; top: -2px; }
/* 콘텐츠 바디 */
#introContent .content .content-body .top .title-en { margin: 0; font-size: 28px; line-height: 24px; position: relative; top: 2px;}
@media screen and (max-width: 767px) {
}


/* 오시는 길 지도 */
/* 지도 표시 영역 CSS */
#map {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0 0 100%;
    border: 1px solid #999;
    border-radius: 16px;
}
#map:after {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    backdrop-filter: grayscale(.4);
    content: '';
}

.marker {
    background-color: #465b43;
    color: white;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -1px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.marker::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #465b43;
    transform: translateX(-50%);
}
