body {
    /*background-color: #ffffff;*/
    background-color: #f1f1f1;
    transition: background-color ease-in-out .3s;
    will-change: background-color;



}
body {
    /* 배경색 지정 (원하는 색으로 변경 가능) */
    /*background-color: #fff;*/

}
body.scroll-on {
    /*background-color: #ccc;*/
    /* 도트 패턴 배경 이미지 */
    /*background-image: radial-gradient(ellipse, #fff 1px, transparent 1px);*/
    /* 도트 간격 조절: 20px씩 반복 */
    /*background-size: 4px 4px;*/

    /* 반복되는 컨식 그라데이션을 사용하여 체크무늬 생성 */
    background-image:
            radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px),
            radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 8px 19px;
    background-position: 0 0, 10px 10px;
}


body:before,
body:after{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 24px;
    pointer-events: none;
    background: linear-gradient( to top, rgba(204,204,204,1), rgba(204,204,204,0));
    content: '';
}
body:after {
    bottom: auto;
    top: 0;
    background: linear-gradient( to bottom, #ccc, rgba(0,0,0,0));
}
body > section {
    /*min-height: calc(100vh - 32px);*/
    /*display: flex;*/
    /*align-items: center;*/
}


/* 1. 메인 타이틀 */
#introTitle {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    /*z-index: -1;*/
    display: flex;
    /*height: 100vh;*/
    height: calc(100vh - 136px);
    flex-direction: column;
    justify-content: center;
    color: #333;
    transition: filter .3s ease-in-out, opacity .3s ease-in-out;
    will-change: opacity, filter;
}
#introTitle.blur {
    -webkit-filter: blur(.6vw);
    filter: blur(.6vw);
    opacity: 0.4;
}
/* 메인 아티클 덩어리 */
#introTitle .left-top { margin-right: 3vw; }
#introTitle .right-top { margin-left: 3vw; }
#introTitle .top { margin-top: -5vw; }
#introTitle .bottom { margin-top: 4vw; }
/* 메인 텍스트 요소 */
#introTitle .intro-kr { margin-top: .65vw; }
#introTitle .left-top .intro-kr { margin-left: 4.5vw; }
#introTitle .right-top .intro-kr { margin-left: -4.5vw; }
/* 타이포그래피 */
.intro-en { font-family: 'Brachetto', sans-serif; font-size: 8vw; line-height: 8vw; font-weight: 400; }
.intro-kr { font-size: 2.65vw; line-height: 2.65vw; font-weight: 400;}
@media screen and (min-width: 1441px) {
    #introTitle { transform: scale(0.5); }
}
@media screen and (max-width: 767px) {
    #introTitle { transform: scale(1.15); }
    #introTitle .top { margin-top: -32px; }
    #introTitle .left-top .intro-kr { margin-left: 12px; }
    #introTitle .right-top .intro-kr { margin-left: -12px; }
    .intro-kr { font-size: 14px; line-height: 14px; font-weight: 400;}
}
#scrollIndicate {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 70%;
    width: 32px;
    height: 48px;
    margin: 0 auto;
    border-radius: 1000px;
    background:  url("../img/svg/ico_arrow.svg") center/ 50% no-repeat;
    opacity: 1;
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    cursor: pointer;
    /*box-shadow: 0 0 0 3px #333;*/
    border: 1px solid #333;
    transform: translateY(0);
    border-top-width: 6px;
    border-bottom-width: 4px;
}
#scrollIndicate:hover {opacity: .4;}

#scrollIndicate.on {
    opacity: 0;
    transform: translateY(24px);
}




/* 2. 텍스트 타이틀 */
#introContent {
    /*margin-top: 100vh;*/
    margin-top: calc(100vh - 136px - 56px);
}
#introContent .content .content-title .title-en { white-space: nowrap; }
#introContent .content .content-title .body-kr {
    text-align: justify;
    letter-spacing: -0.6px;
    word-spacing: -1.2px;
    text-align-last: center;
    padding: 0 4px;
    max-width: 360px;
    margin: 0 auto;
}
#introContent .content .content-title .body-kr span { font-size: 12px; position: relative; top: -2px; }
/* 콘텐츠 바디 */
#introContent .content .content-body .top .title-en { margin: 0; font-size: 28px; line-height: 24px; position: relative; top: 2px;}
@media screen and (max-width: 767px) {
}


/* 오시는 길 지도 */
/* 지도 표시 영역 CSS */
#invMap {
    position: relative;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0 0 100%;
    border: 1px solid #ccc;
    border-radius: 12px;

}
#invMap:after {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    backdrop-filter: grayscale(.2);
    -webkit-backdrop-filter: grayscale(.2);
    /*border-radius: 1000px 1000px 8px 8px;*/
    content: '';
}

#invMap > div:last-of-type > div > div > div {
    border-radius: 100px; top: 48px; overflow: hidden;
}
#invMap > div:last-of-type > div > div > div > a {
    padding: 4px 0; background: #fff;
}
.marker {
    background-color: #ba0e57;
    color: white;
    /*padding: 8px 16px;*/
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -1px;
    /*border-radius: 8px;*/
    text-align: center;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    height: 0;
    border-radius: 1000px;
    /*padding: 16px 12px calc(100% - 16px);*/
    padding: 15px 12px calc(100% - 19px);
    /*padding: 16px 12px calc(100% - 20px);*/
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #ba0e57;
    /*box-shadow: 0 0 18px rgba(0,0,0,.3);*/
}
.marker::before,
.marker::after{
    position: absolute;
    left: -4px;
    top: -4px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    border: 1px solid #ba0e57;
    border-radius: 10000px;
    transform: scale(0.8);
    animation: hereMarker 1.5s infinite ease-in-out;
    content: '';
}
.marker::after{
    animation: hereMarker 1.5s 0.3s infinite ease-in-out;
}
@keyframes hereMarker {
    0% { transform: scale(0.8); opacity: 1; }
    100% { transform: scale(1.4); opacity: 0; }
}
@media screen and (min-width: 768px) {
    .marker:hover { transform: scale(1.05); }
}
@media screen and (max-width: 767px) {
    #map { border-radius: 8px; }
}
#mapLoadWrap {
    display: flex; justify-content: space-between;
    margin: 16px 0 0;
}
#mapLoadWrap a {
    /*display: inline-block;*/
    width: calc((100% / 3) - 8px );
    padding: 6px 0;
    margin: 0;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    border-radius: 100px;
    text-decoration: none;
    border: 1px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    background: #434742;


    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
#mapLoadWrap a span,
#mapLoadWrap a strong { display: inline-block; vertical-align: middle; }

#mapLoadWrap a:hover { opacity: 0.8; }
#mapLoadWrap a.nv { background: #4a5f52; box-shadow: 0 0 0 2px #4a5f52; }
#mapLoadWrap a.ka { background: #766b4f; box-shadow: 0 0 0 2px #766b4f; }
#mapLoadWrap a.tm { background: #485664; box-shadow: 0 0 0 2px #485664; }
/* 지도 아이콘 영역 */
#mapLoadWrap a .inv-ico {
    display: inline-block;
    width: 22px; height: 28px;
    margin: -5px 0 -5px -2px;
    padding: 6px 0;
}
#mapLoadWrap a .inv-ico + span {  border-left: 1px solid rgba(255,255,255,0.5);  padding-left: 16px;   }
#mapLoadWrap a .inv-ico.naver_map { background: url("../img/svg/nv_map.svg") center / contain no-repeat; }
#mapLoadWrap a .inv-ico.kakao_map { background: url("../img/svg/ka_map.svg") center / contain no-repeat; }
#mapLoadWrap a .inv-ico.t_map { background: url("../img/svg/tm_map.svg") center / contain no-repeat; }





/* 갤러리 영역 */
#photo { overflow: hidden; padding-top: 8px;}
/* 콘텐츠 내용 */
/*#photoWrap { overflow: hidden; }*/
#photoWrap--swiper {
    width: auto;
    height: auto;  /* ✅ 높이 고정 */
    overflow: visible;
}
#photoWrap--swiper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    transition-timing-function: ease-in-out !important;  /* ✅ 이동 시 부드럽게 감속/가속 */
}
#photoWrap--swiper .swiper-wrapper .swiper-slide {
    position: relative;
    max-width: 100%; pointer-events: none;
    height: 0; padding-bottom: 125%;
}
#photoWrap--swiper .swiper-wrapper .swiper-slide button:after {
    position: absolute; top: 0; right: 0; left: 0; bottom: 0; z-index: 1;
    width: 100%; height: 100%; background: rgba(0,0,0,0.1); pointer-events: none; content: '';
}
#photoWrap--swiper .swiper-wrapper .swiper-slide button {
    position: absolute;
    right: 0; top: 0; left: 0; bottom: 0;
    border: none; padding: 0;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
#photoWrap--swiper .swiper-wrapper .swiper-slide button:hover img { transform: scale(1.05); opacity: .9; }
#photoWrap--swiper .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* ✅ 이미지 비율 유지하면서 꽉 채우기 */
    pointer-events: auto;
    transition: .3s;
}
/*#photoWrap--swiper .swiper-wrapper .swiper-slide img:hover { opacity: .5}*/
#photoWrap--swiper .arrow-button { display: flex; justify-content: space-between; }
#photoWrap--swiper .arrow-button button {
    width: calc(50% - 4px);
    padding: 10px 16px;
    margin: 0;
}
#photoWrap--swiper .arrow-button button.swiper-button-disabled {
    opacity: .2;
    pointer-events: none;
}
/* 페이지네이션 */
#photoWrap--swiper .swiper-pagination {
    display: block;
    position: relative;
    top: 0;
    height: auto;
    transition: none;
    font-size: 16px;
    line-height: 16px;
    margin: 0 0 16px;
}
/* 양쪽 버튼 */
#photoWrap--swiper .arrow-button button .inv-ico {
    display: inline-block;
    width: 16px;
    height: 20px;
    margin: 1px 4px 2px;
}
#photoWrap--swiper .arrow-button button.swiper-prev .inv-ico {
    background: url("../img/svg/ico_arrow--w.svg") center/contain no-repeat;
    transform: rotate(90deg);
    margin-left: -8px;

    position: absolute;
    left: 20px;
}
#photoWrap--swiper .arrow-button button.swiper-next .inv-ico{
    background: url("../img/svg/ico_arrow--w.svg") center/contain no-repeat;
    transform: rotate(-90deg);
    margin-right: -8px;

    position: absolute;
    right: 20px;
}

#photoWrap--swiper .arrow-button button.swiper-prev .body2-kr{ margin-left: 8px; }
#photoWrap--swiper .arrow-button button.swiper-next .body2-kr{ margin-right: 8px; }
@media screen and (max-width: 767px) {
    #photo .content { overflow: visible; }
}







/* 모달 팝업 기본 스타일 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 64px 32px;
    box-sizing: border-box;
}

.modal-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0;
}
#imageModalClose.modal-close {
    position: absolute;
    top: 16px;
    right: 24px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    background: url("../img/svg/ico_cross.svg") center /contain no-repeat;
    transform: rotate(45deg);
}
#imageModalCloseButton.modal-close {
    position: fixed;
    max-width: 120px;
    margin: 0 auto;
    color: #fff;
    right: 0;
    bottom: 32px;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    border-radius: 8px;
    background: #434742;
    padding: 14px;
    border: 2px solid #fff;
}
/* 모달 이전/다음 버튼 스타일 */
.modal-prev,
.modal-next {
    position: absolute;
    top: 64px;
    width: 50%;
    height: calc(100% - 64px - 64px);
    padding: 0;
    background: transparent;
    border: none;
    cursor: none; /* 기본 커서를 숨김 */
}

/* 버튼 위치 설정 */
.modal-prev { left: 0; }
.modal-next { right: 0; }

/* 커스텀 화살표 요소 스타일 */
.custom-arrow {
    position: absolute;
    pointer-events: none; /* 마우스 이벤트 방해 안하도록 함 */
    /*font-size: 30px;*/
    width: 32px;
    height: 32px;
    color: white;
    z-index: 1100; /* 모달보다 위에 표시 */
    /* 추가 스타일 (예: 그림자, 애니메이션 등) 필요에 따라 추가 */
    transform: translate(-50%,-50%);
}
.custom-arrow.right {
    background: url("../img/svg/ico_arrow.svg");
    transform: rotate(-90deg);
}

.custom-arrow.left {
    background: url("../img/svg/ico_arrow.svg");
    transform: rotate(90deg);
}
@media screen and (max-width: 767px){
    .custom-arrow { display: none !important; }
}
















    /* 방명록 */
/*#guestBook .content { overflow: visible; }*/
/* marquee 컨테이너: overflow hidden */

.marquee-container {
    overflow: visible;
    position: relative;
    width: 100%;
    /*background: #f9f9f9;*/
    /*border: 1px solid #ccc;*/
    /* 높이는 필요에 따라 조정 */
    padding: 10px 0;
}
/* marquee 실제 콘텐츠 영역 */
.marquee-content {
    display: inline-block;
    white-space: nowrap;
    /* 애니메이션 지속시간은 JS에서 동적으로 설정 */
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* 각 메시지는 inline-block으로 가로 나열 */
.message {
    display: inline-block;
    position: relative;
    width: 260px;
    margin-right: 16px;  /* 메시지 간 간격 */
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
}
.message .message-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 320px;
    padding: 10px 12px 12px;
    max-height: 321px;
}
.message .delete-button {
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
    color: #fff;
    width: 24px;
    height: 24px;
    padding: 0;
    min-width: 0;
    border-radius: 100px;
    background: url("../img/svg/ico_cross.svg") center/ 70% no-repeat;
    transform: rotate(45deg);
    opacity: .4;
    box-shadow: none;
}
.message .delete-button:hover { opacity: .3; }

.message-wrap .body {
    display: -webkit-box;
    white-space: pre-wrap;
    text-align: left;
    max-width: 77%;
    max-height: 248px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;

}
.message-wrap .title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.message-wrap .title > em {
    font-size: 12px;
    margin: 8px 0 4px;
    color: #999;
}


/* 키프레임: 전체 콘텐츠의 절반(원본) 길이만큼 이동 */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}










/* 방명록 */
#guestbookForm input,
#guestbookForm textarea {
    display: block;
    font-size: 16px;
    line-height: 28px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 9px 12px;
    margin: 0 0 12px;
    box-sizing: border-box;
    resize: none;
}
#guestbookForm textarea { min-height: 240px; }




/* 카운트 다운 */
#countdown {
    font-size: 2em;
    margin-top: 20px;
}