/* 1. 메인 타이틀 */
#introTitle {
    position: fixed; right: 0; left: 0; top: 0; bottom: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    color: #333;
    transition: filter .3s ease-in-out, opacity .3s ease-in-out;
    will-change: opacity, filter;
}
#introTitle.blur {
    -webkit-filter: blur(.6vw);
    filter: blur(.6vw);
    opacity: .5;
}

/* 메인 아티클 덩어리 */
#introTitle .left-top { margin-right: 3vw; }
#introTitle .right-top { margin-left: 3vw; }
#introTitle .bottom { margin-top: 4vw; }
/* 메인 텍스트 요소 */
#introTitle .h6-kr { margin-top: .65vw; }
#introTitle .left-top .h6-kr { margin-left: 4.5vw; }
#introTitle .right-top .h6-kr { margin-left: -4.5vw; }

/* 2. 텍스트 타이틀 */
#introContent {
    margin-top: 100vh;
}